
<div class="container">
  <div class="row">
    
    <!--   <div class="col-md5">
        <h1 class="text-2x1 text-red-500">  
      Sera porque te amo,
      seraa porque es asi, 
      se es que no es real,
      y nadie es propieda,
      pero te sienta mia,
      solo porque te quiero,
      solo porque eres asi,
      se que no es real,
      y no me perteneces
      pero te siento miaaaaaa.</h1>


    </div -->>
    <div class="col-md5">
 
   <!--  <app-ejemplo1></app-ejemplo1>  -->
     <app-zodiaco></app-zodiaco>
  </div>

  </div>

</div>