<form (formGroup)="formGroup" (ngSubmit)="onSubmit()" class="max-w-md mx-auto bg-white p-6 rounded-lg shadow-md space-y-4">
  <div class="grid grid-cols-2 gap-4">
    <div>
      <div class="mb-4">
        <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2">Nombre:</label>
        <input formControlName="nombre" id="nombre" type="text" placeholder="Ingresa tu nombre" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="edad" class="block text-gray-700 text-sm font-bold mb-2">Edad:</label>
        <input formControlName="edad" id="edad" type="number" placeholder="Ingresa tu edad" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="mb-4">
        <label for="email" class="block text-gray-700 text-sm font-bold mb-2">Email:</label>
        <input formControlName="email" id="email" type="email" placeholder="Ingresa tu email" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
      </div>

      <div class="flex items-center justify-between">
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Enviar
        </button>
      </div>
    </div>

    <div class="bg-gray-100 p-4 rounded shadow-md">
      <h2 class="text-gray-700 font-bold">Datos ingresados:</h2>
      <p class="text-gray-600"><strong>nombre:</strong> {{persona.nombre}}</p>
      <p class="text-gray-600"><strong>Edad:</strong> {{persona.edad}}</p>
      <p class="text-gray-600"><strong>Email:</strong> {{persona.email}}</p>

      <div class="flex items-center justify-between">
        <button (click)="subImprime()" type="button" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
          Imprimir
        </button>
      </div>
    </div>
  </div>
</form>